.App-header {
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border: 2px solid #F92672;
  margin: auto;
  margin-bottom: 2em;
  width: 90%;
}

a {
  color: white;
}

.menu {
  display: flex;
  flex-flow: row nowrap;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  gap: 1em;
}

.menu input,
label {
  margin: 0.5em;
  height: 2em;
  width: 200px;
  font-size: large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 5px;
}

.container {
  border: 2px solid #A6E22E;
  width: 90%;
  min-height: 100vh;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}



.register-container,
.login-container {
  border: 2px solid #22A4F1;
  display: flex;
  width: 50%;
  height: 300px;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 10px;
  gap: 2em;
}


.choice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: large;
  gap: 1em;
}

.button {
  height: 90%;
  font-size: large;
  color: white;
  background-color: inherit;
  border: 1px solid yellow;
  transition: transform 0.3s ease-in-out;
  text-align: center;
}

.button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.input-wrapper {
  height: 100%;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.button-wraper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  text-align: center;
  height: 20%;
}

.item input {
  text-align: center;
  flex-grow: 2;
  height: 3em;
}

@media (max-width: 1000px) {

  .register-container,
  .login-container,
  .input-wrapper,
  .button-wraper,
  .item,
  .choice {
    flex-direction: column;
    width: 90%;
  }

  .register-container,
  .login-container {
    height: 600px;
  }

  .App-header {
    flex-direction: column;
    min-height: 50vh;
    align-items: center;
  }

  .menu {
    min-height: 30vh;
    flex-direction: column;
    align-items: center;
  }

  .button {
    width: 100%;
    padding: 1em;
  }

  .button-wraper {
    height: 4em;
  }

  .container {
    min-height: 100vh;
    padding: 2em;
  }

  .button:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}